// Colors
// Colors
$primary-color: #29ABE2;
$secondary-color: #F79256;
$accent-color: #96CA3D;
$background-color: #ECF5FF;
$text-color: #333333;
$Card: #ffffff;
$white: #ffffff;
$light-gray: #F5F5F5;    // Keep this as the same as background-color
$medium-gray: #bdc3c7;
$dark-gray: #333333;     // Keep this as the same as text-color   // Keep this as the same as text-color

// Fonts
$main-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$heading-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;